<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/coursehunters</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <!-- connection pool settings -->
        <property name="connection.pool_size">1</property>
        <!-- set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- echo sql to stdout -->
        <property name="show_sql">true</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
    </session-factory>
</hibernate-configuration>